html {
  font-size: 0.625rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: initial !important;
}

* {
  font-size: 1.6rem;
}

h1 {
  font-size: 7rem;
}
h2,h3,h1{
  font-weight: 600 !important;
  line-height: 0.85;
}

h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}

p{
  font-size: 1.75rem;
  font-weight: 500;
}

button {
  font-size: 1.4rem;
  font-family: inherit;
}

@media (max-width: 500px) {
  html {
    font-size: 8px;
  }
  .desktop-space-between{
    justify-content: center !important;
  }
}
button{
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 22px 30px !important;
    font-weight: 700 !important;
}
body::-webkit-scrollbar {
  width: 0.45em;
  height:0.2em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #8892b0;
  outline: 1px solid slategrey;
  border-radius: 50px;
}

.ant-btn-ghost{
    border:2px solid #64ffda !important;
    color:#64ffda !important;
    border-radius: 6px !important;
    text-decoration: none;
}
.text-primary{
  color:#64ffda;
}
.heading-text{
  color:#ccd6f6;
}
.para-text{
  color:#8892b0;
}
.text-center{
  text-align: center;
}
.text-white{
  color:white;
}
ul{
  padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: 1.5rem;
}
ul li{
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}
ul li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color:#64ffda;
}